<!DOCTYPE html>
    <html lang ="en">
    <head>
        <meta charset ="UTS-8">
        <meta name= "viewpoint"  content ="width=device-width, initial-scale=1.0" >
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= input1 %></h1>
        <h2><%= input2 %></h2>
        <p><%= input3 %></p>
    </body>


</html>