<form action="/pr01/pr01submit" method="POST">
    Best Friends's Name: <input type ="text" name="input1">
    <br>
    Best Friends's Name: <input type ="text" name ="input2">
    <br>
    Best Friends's Name: <input type ="text"name ="input3">
    <br>
    <button type="submit">Sumbit it</button>
</form>